 <!--   banner -->   
<div id="banner" class="conteiner "></div>
  
<div id="FotoPerfil" class="container">
  <img src="assets/img/pngegg.png" height=250px width=250px>
  <h1 >{{miporfolio.nombrePerfil}}</h1>
  <h2 >{{miporfolio.titulo}}</h2>
</div>


<!--
<div class="row mt-5">
          
    <div class="col rounded-end" >
        <img [src]="miporfolio.imgPerfil" height=250px width=250px>
        <h1 >{{miporfolio.nombrePerfil}}</h1>
        <h2 >{{miporfolio.titulo}}</h2>
      </div>

      <div class="col imagenlogo d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
      </div>
      
</div>
-->