#banner{
    margin-top: 55px;
    background: url(src/assets/img/1218911.jpg) ;
    background-repeat:no-repeat;
    background-position: center center;  
    background-size: cover;
    padding-bottom: 50%;
    min-height: 400px;
    
}

#FotoPerfil{

    background-position: center center;    
    background-size: cover;
    text-align: center;
}
