<div class="container">
    <!-- Contacto -->
    <div id="form" class="row mt-5">
        
        <h3 id="contact">Contacto</h3>
        <div class="col">
            
            <form action="#">
                <div class="container p">
                    <div class="row mb-3">

                        <!--Nombre-->
                        <div class="mb-4">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <!--Email-->
                        <div class="mb-4">
                            <label for="email" class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <!--Mensaje-->
                        <div class="mb-4">
                            <label for="message" class="form-label">Mensaje</label>
                            <textarea name="message" id="message" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="d-grid mb-5">
                        <button type="submit" class="btn btn-warning">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div> 
</div>