<div class="BG" id="formu">
    <div class="container">
    <div class="row">
        <h2 class="text-center">Agregar Experiencia Laboral</h2>
        <form ngForm #f="ngForm" (ngSubmit)="onCreate()" novalidate>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" [(ngModel)]="descripcion"
                    name="descripcion" requerid>
            </div>
            <div class="form-group">
                <label for="imgEmpresa">Imagen de la Empresa</label>
                <input type="text" class="form-control" id="imgEmpresa" [(ngModel)]="imgEmpresa" name="imgEmpresa"
                    required>
            </div>
            <div class="form-group">
                <label for="nombreEmpresa">Nombre de la Empresa</label>
                <input type="text" class="form-control" id="nombreEmpresa" [(ngModel)]="nombreEmpresa"
                    name="nombreEmpresa" required>
            </div>
            <div class="form-group">

                <label for="periodoPuestoFin">Fin del Puesto</label>
                <input type="text" class="form-control" id="periodoPuestoFin" [(ngModel)]="periodoPuestoFin"
                    name="periodoPuestoFin" required>
            </div>
            <div class="form-group">
                <label for="periodoPuestoInicio">Inicio del puesto</label>
                <input type="text" class="form-control" id="periodoPuestoInicio" [(ngModel)]="periodoPuestoInicio"
                    name="periodoPuestoInicio" required>
            </div>
            <div class="form-group">
                <label for="puesto">Puesto</label>
                <input type="text" class="form-control" id="puesto" [(ngModel)]="puesto" name="puesto" required>
            </div>
            <br/>
            <div class="d-grid mb-5 col-3 mx-auto">
                <button type="submit" class="btn btn-warning">Ingresar informacion</button>
            </div>
        </form>

    </div>
</div>
</div>