
<header class="header" >
    
  <nav class="navbar navbar-expand-lg navbar-dark position-fixed fixed-top" id="modebg">
    <div id="nav" class="container-fluid">
      
      <div class="navbar-brand" id="modetex" >
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
          <img src="assets/img/APLogo-20-20-min.png" alt="ArgentinaPrograma" width="100" > </a>
        <span id="YoProgramo">#YoProgramo</span>
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav ms-auto">
            <!--   Instagram   -->
            <li class="nav-item" >
              <a class="nav-link active" id="ig" href="https://instagram.com/vallivictoria?igshid=YmMyMTA2M2Y=">Instagram</a>
            </li>
            <!--   GitHub   -->
            <li class="nav-item">
              <a class="nav-link active" id="gh" href="https://github.com/VykoV">GitHub</a>
            </li>
            <!--   Login   -->
            <li class="nav-item">
              <a class="nav-link active" id="login" href="/Login">Login</a>
            </li>
            <!--   Icono Cambiar modo nocturno toggle-off/on-->
            
            <li class="nav-item">
              <button type="btn" class="btn" id="modebtn arg" (click)="switchTheme()" >
                {{theme === "light-theme" ? "Modo oscuro" : "Modo claro"}}
              </button>
            </li>
          </ul>
        </div>
      </div>

  </nav>
  </header>

  