<div class="container">
    <div class="row m-5">
        <div class="col-lg-6">
            <h3 >Experiencia</h3>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nulla accusantium laborum obcaecati hic, laudantium maiores magni cupiditate fuga ab deserunt porro! Des
        </div>
        <div class="col-lg-6">
            <h3 >Educación</h3>
            <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis nulla accusantium laborum obcaecati hic, laudantium maiores magni cupiditate fuga ab deserunt porro! Deserunt magnam
        </div>
    </div>
</div>