<div class="BG" id="formu">
    <div class="container" *ngIf="Persona">
    <div class="row">
        <h2 class="text-center">Editar Acerca De Mi</h2>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="imgBanner">Imagen del Banner</label>
                <input type="text" class="form-control" id="imgBanner" [(ngModel)]="Persona.imgBanner" name="imgBanner"
                    requerid>
            </div>

            <div class="form-group">
                <label for="imgPerfil">Imagen de Perfil</label>
                <input type="text" class="form-control" id="imgPerfil" [(ngModel)]="Persona.imgPerfil" name="imgPerfil"
                    requerid>
            </div>

            <div class="form-group">
                <label for="nombrePerfil">Nombre de Perfil</label>
                <input type="text" class="form-control" id="nombrePerfil" [(ngModel)]="Persona.nombrePerfil" name="nombrePerfil"
                    requerid>
            </div>

            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" id="titulo" [(ngModel)]="Persona.titulo" name="titulo"
                    requerid>
            </div>

            <br/>
            <div class="d-grid mb-5 col-3 mx-auto">
                <button type="submit" class="btn btn-warning">Actualizar informacion</button>
            </div>
        </form>

    </div>
</div>
