<div class="BG" id="formu">
    <div class="container" *ngIf="proyectos">
    <div class="row">
        <h2 class="text-center">Editar Proyecto</h2>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreProyecto">Nombre del Proyecto</label>
                <input type="text" class="form-control" id="nombreProyecto" [(ngModel)]="proyectos.nombreProyecto" name="nombreProyecto"
                    requerid>
            </div>
            <div class="form-group">
                <label for="descripcionProyecto">Descripcion del Proyecto</label>
                <input type="text" class="form-control" id="descripcionProyecto" [(ngModel)]="proyectos.descripcionProyecto" name="descripcionProyecto"
                    required>
            </div>
            <div class="form-group">
                <label for="urlImgProyecto">Imagen del Proyecto</label>
                <input type="text" class="form-control" id="urlImgProyecto" [(ngModel)]="proyectos.urlImgProyecto"
                    name="urlImgProyecto" required>
            </div>

            <div class="form-group">
                <label for="urlRepositorio">Url del Repositorio</label>
                <input type="text" class="form-control" id="urlRepositorio" [(ngModel)]="proyectos.urlRepositorio"
                    name="urlRepositorio" required>
            </div>
            <br/>
            <div class="d-grid mb-5 col-3 mx-auto">
                <button type="submit" class="btn btn-warning">Ingresar informacion</button>
            </div>
        </form>

    </div>
</div>
</div>

