<div class="container">
    <!-- Proyectos -->
    <div id="Proyectos" class="row">
        
        <h3>Proyectos</h3>
        
        <!--Proyecto 1-->
        <div class="col-sm-12 col-md-4 col-lg-4 ">
            
            <ul class="Moditems">
                <li *ngFor="let pyt of proyecto">
                    <div id="Proyectocolor1" class="card" style="width: 16rem;">
                        <img [src]="pyt.urlImgProyecto" class="card-img-top" alt="{{pyt.nombreProyecto}}" >
                        <div class="card-body">
                            <h5 class="card-title ">{{pyt.nombreProyecto}}</h5>
                            <p class="card-text">{{pyt.descripcionProyecto}}</p>
                            <a href="{{pyt.urlLiveDemo}}" class="btn btn-warning d-grid m-1">Live Demo</a>
                            <a href="{{pyt.urlRepositorio}}" class="btn btn-warning d-grid m-1">Repositorio</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>  
</div>