<div class="container">
    <!-- Proyectos -->
    <div id="Proyectos" class="row m-5 ">
        
        <h3>Proyectos</h3>
        
        <!--Proyecto 1-->
        <div class="col-sm-12 col-md-12 col-lg-4 py-3 ">
            <div class="card bg-dark mb-3" style="width: 16rem;">
                <img src="assets/img/Prueba 2.jpg" class="card-img-top" alt="Proyecto 1" >
                <div class="card-body">
                    <h5 class="card-title ">Proyecto 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis numquam amet, doloribus nam deleniti, molestiae tenetur nesciunt corporis praesentium, excepturi delectus porro dolorum eaque aliquid necessitatibus veritatis. Ipsam, natus!.</p>
                    <a href="#" class="btn btn-warning d-grid">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <!--Proyecto 2-->
        <div class="col-sm-12 col-md-12 col-lg-4 py-3 ">
            <div class="card bg-dark" style="width: 16rem;">
                <img src="assets/img/Prueba 2.jpg" class="card-img-top" alt="Proyecto 2">
                <div class="card-body">
                    <h5 class="card-title">Proyecto 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis numquam amet, doloribus nam deleniti, molestiae tenetur nesciunt corporis praesentium, excepturi delectus porro dolorum eaque aliquid necessitatibus veritatis. Ipsam, natus!.</p>
                    <a href="#" class="btn btn-warning d-grid">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <!--Proyecto 3-->
        <div class="col-sm-12 col-md-12 col-lg-4 py-3 ">
            <div class="card bg-dark" style="width: 16rem;">
                <img src="assets/img/Prueba 2.jpg" class="card-img-top" alt="Proyecto 3">
                <div class="card-body">
                    <h5 class="card-title ">Proyecto 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis numquam amet, doloribus nam deleniti, molestiae tenetur nesciunt corporis praesentium, excepturi delectus porro dolorum eaque aliquid necessitatibus veritatis. Ipsam, natus!.</p>
                    <a href="#" class="btn btn-warning d-grid ">Ir al proyecto</a>
                </div>
            </div>
        </div>
    </div>  
</div>